{% load staticfiles %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>{% block title %}PayFlex - платёжные терминалы для вашего бизнеса{% endblock %}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:300,400,500,700%7CRaleway:700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
</head>
<body>
<!-- Page Loader-->
<div id="page-loader">
    <div class="page-loader-logo">
        <div class="brand">
            <div class="brand__name"><img src='{% static "images/logo.png" %}' alt="" width="135" height="47"/>
            </div>
        </div>
    </div>
    <div class="page-loader-body">
        <div id="loadingProgressG">
            <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
    </div>
</div>
<!-- Page-->
<div class="page">
    <!-- Page Header-->
    <header class="page-header section">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px" data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">
                <div class="rd-navbar-aside-outer rd-navbar-content-outer">
                    <div class="rd-navbar-content__toggle rd-navbar-fullwidth--hidden" data-rd-navbar-toggle=".rd-navbar-content"><span></span></div>
                    <div class="rd-navbar-aside rd-navbar-content">
                        <div class="rd-navbar-aside__item">
                            <ul class="rd-navbar-items-list">
                                <li>
                                    <div class="unit unit-spacing-xxs unit-horizontal">
                                        <div class="unit__left"><i class="icon icon-sm icon-primary fa fa-location-arrow" aria-hidden="true"></i></div>
                                        <div class="unit__body">
                                            <p>Багратионовский проезд, 7, 20В</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-xxs unit-horizontal">
                                        <div class="unit__left"><span class="icon icon-sm icon-primary fa fa-envelope-o"></span></div>
                                        <div class="unit__body">
                                            <p>info@payflex.ru</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rd-navbar-aside__item">
                            <ul class="rd-navbar-items-list">
                                <li>
                                    <div class="unit unit-spacing-xxs unit-horizontal">
                                        <div class="unit__left"><span class="text-primary">Телефон:</span></div>
                                        <div class="unit__body"><a href="callto:#">+7 (495) 640 25 10</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel -->
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand"><a class="brand" href="/">
                                <div class="brand__name"><img src="{% static "images/logo.png" %}" alt="" style="width: 115px; height: 50px" width="135" height="47"/>
                                </div></a></div>
                        </div>
                        <!-- RD Navbar Nav -->
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Связаться с нами</a></div>
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li><a href="/">Главная</a>
                                </li>
{#                                <li><a href="news.html">News</a>#}
{#                                    <!-- RD Navbar Dropdown-->#}
{#                                    <ul class="rd-navbar-dropdown">#}
{#                                        <li><a href="single-post.html">Single post</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
                                <li><a href="/contacts/">Контакты</a>
                                </li>
                                <li><a href="#">Наша продукция</a>
                                    <!-- RD Navbar Megamenu-->
                                    <ul class="rd-navbar-megamenu">
                                        <li>
                                            <h5 class="rd-megamenu-header">POS – Терминалы</h5>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="/product/nastolnye_terminaly/">Настольные терминалы</a></li>
                                                <li><a href="/product/bankovskie_pin-pady/">Банковские пин-пады</a></li>
                                                <li><a href="/product/riteylovye_pin-pady/">Ритейловые пин-пады</a></li>
                                                <li><a href="/product/ustroystva_s_zahvatom_podpisi/">Устройства с захватом подписи</a></li>
                                                <li><a href="/product/besprovodnye_terminaly/">Беспроводные терминалы</a></li>
                                                <li><a href="/product/vstraivaemye_resheniya/">Встраиваемые решения</a></li>
                                                <li><a href="/product/biometricheskie_resheniya/">Биометрические терминалы</a></li>
                                                <li><a href="/product/m-POS/">mPOS</a></li>
                                                <li><a href="{% static  'pdf/SPm20.pdf'%}">Мобильный SPm20 терминал</a></li>
                                                <li><a href="{% static  'pdf/spm2.pdf'%}">Мобильный SPm2 терминал</a></li>
                                                <li><a href="{% static  'pdf/SPc5.pdf'%}">Мобильный SPc5 терминал</a></li>
                                                <li><a href="{% static  'pdf/SPg7.pdf'%}">Мобильный SPg7 терминал</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="rd-megamenu-header">Кронштейны</h5>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="/product/dlya_ingenico_ipp320_200_310/">Для Ingenico IPP320 200/310</a></li>
                                                <li><a href="/product/dlya_ingenico_ipp_220_140/">Для Ingenico IPP 220-140</a></li>
                                                <li><a href="/product/dlya_ingenico_ict220_200_310/">Для Ingenico ICT220 200/310</a></li>
                                                <li><a href="/product/dlya_ingenico_isc480_140/">Для Ingenico ISC480-140</a></li>
                                                <li><a href="/product/dlya_ingenico_isc250_140/">Для Ingenico ISC250-140</a></li>
                                                <li><a href="/product/dlya_ingenico_ipp480_140/">Для Ingenico IPP480-140</a></li>
                                                <li><a href="/product/dlya_ingenico_iwl220_200_310/">Для Ingenico IWL220 200/310</a></li>
                                                <li><a href="/product/dlya_ingenico_iwb220_200_310/">Для Ingenico IWB220 200/310</a></li>
                                                <li><a href="/product/dlya_ingenico_desk_3200_3500_5000_140/">Для Ingenico DESK 3200/3500/5000-140</a></li>
                                                <li><a href="/product/dlya_ingenico_move_2500_3500_5000_200_310/">Для Ingenico MOVE 2500/3500/5000 200/310</a></li>
                                                <li><a href="/product/dlya_ingenico_lane_5000_140/">Для Ingenico LANE 5000-140</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="rd-megamenu-header">Контрольно-кассовая техника</h5>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="/product/atol_kassu_dlya_malogo_biznesa/">Для малого и микробизнеса</a></li>
                                                <li><a href="/product/atol_kassu_dlya_srednego_biznesa/">Для средней проходимости</a></li>
                                                <li><a href="/product/atol_kassu_dlya_mobil/">Для мобильной торговли</a></li>
                                                <li><a href="/product/atol_kassu_dlya_bolshogo/">Для высокой проходимости</a></li>
                                                <li><a href="/product/atol_kassu_communication/">Коммуникационные модули</a></li>
                                                <li><a href="{% static 'pdf/PayMob-F.PDF' %}">Инновационная касса и POS-терминал ПЭЙМОБ-Ф</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    {% block footer %}
        <!-- Page Footer-->
        <footer class="footer-corporate">
            <div class="footer-corporate__main bg-gray-darker">
                <div class="shell shell-fluid shell-condensed">
                    <div class="range range-xs-center range_xl-ten range-50 footer-corporate__range">
                        <div class="cell-xs-10 cell-sm-6 cell-md-4 cell-lg-4 cell-xl-2 footer-corporate__column">
                            <h4 class="heading-bordered">Наш офис</h4>
                            <ul class="list-md">
                                <li>
                                    <p class="address">Москва, Багратионовский проезд, дом 7, корпус 20B, Бизнес Центр Конвент Плюс, офис 506</p>
                                    <ul class="list-inline-0">
                                        <li>
                                            <dl class="list-terms-inline">
                                                <dt>Будни</dt>
                                                <dd>10:00–18:00</dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <dl class="list-terms-inline">
                                        <dt>Основная почта</dt>
                                        <dd><a href="mailto:#">info@payflex.com</a></dd>
                                    </dl>
{#                                    <dl class="list-terms-inline">#}
{#                                        <dt>Support</dt>#}
{#                                        <dd><a href="mailto:#">infosupport@demolink.org</a></dd>#}
{#                                    </dl>#}
                                </li>
                                <li>
                                    <dl class="list-terms-inline">
                                        <dt>Телефон</dt>
                                        <dd><a href="callto:#">+7 (495) 640 25 10</a></dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                        <div class="cell-xs-10 cell-sm-6 cell-md-3 cell-lg-3 cell-xl-2 footer-corporate__column">
                            <h4 class="heading-bordered">Мы вам перезвоним</h4>
                            <p>Оставьте здесь свой номер телефона и мы предложим вам лучшее оборудование!</p>
                            <!-- RD Mailform-->
                            <form class="rd-mailform rd-mailform_sm rd-mailform_centered box-width-2" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="/send/">{% csrf_token %}
                                <div class="form-wrap">
                                    <input class="form-input" id="subscribe-number" type="tel" name="phone">
                                    <label class="form-label" for="subscribe-number">Ваш номер телефона</label>
                                </div>
                                <button class="button button-sm button-block button-secondary" type="submit">Отправить</button>
                            </form>
                        </div>

                        <div class="cell-xs-10 cell-sm-6 cell-md-3 cell-lg-3 cell-xl-2 footer-corporate__column">
                            <h4 class="heading-bordered">Меню</h4>
                            <ul class="list-xxs list_darker">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/contacts/">Контакты</a>
                                </li>
{#                                <li><a href="our-works.html">Our Works</a>#}
{#                                </li>#}
{#                                <li><a href="news.html">News</a>#}
{#                                </li>#}
{#                                <li><a href="contacts.html">Contacts</a>#}
{#                                </li>#}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-corporate__aside bg-gray-base text-center">
                <div class="shell shell-fluid shell-condensed">
                    <div class="range range-20 range_xl-ten footer-corporate__range">
                        <div class="cell-sm-8 cell-xl-6 footer-corporate__aside-column text-sm-left">
                            <!-- Rights-->
                            <p class="rights"><span>PayFlex</span><span>&nbsp;&copy;&nbsp;</span><span id="copyright-year"></span>&nbsp;<br class="veil-xs">
{#                                <a class="link-underline" href="privacy-policy.html">Privacy Policy</a>#}
                            </p>
                        </div>
{#                        <div class="cell-sm-4 cell-xl-4 footer-corporate__aside-column text-sm-right">#}
{#                            <ul class="list-inline-xxs">#}
{#                                <li><a class="icon icon-xs icon-style-modern fa fa-twitter" href="#"></a></li>#}
{#                                <li><a class="icon icon-xs icon-style-modern fa fa-facebook" href="#"></a></li>#}
{#                                <li><a class="icon icon-xs icon-style-modern fa fa-instagram" href="#"></a></li>#}
{#                            </ul>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
