{% extends 'product.html' %}
{% load staticfiles %}
{% block title %}
    Кассовые аппараты для малого и микробизнеса
{% endblock %}
{% block current %}
    Кассовые аппараты для малого и микробизнеса
{% endblock %}
{% block terminal %}
    <!-- Our production-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="tabs-custom tabs-custom-init tabs-inline" id="tabs-production">
                <!-- Section Header-->
                <div class="section__header">
                    <h4>Для малого и микробизнеса</h4>
                    <div class="section__header-element">
                        <!-- Nav tabs-->
                        <div class="navigation-custom">
                            <button class="button navigation-custom__toggle" data-custom-toggle=".navigation-custom__content" data-custom-toggle-hide-on-blur="true">Фильтр оборудования</button>
                            <div class="navigation-custom__content">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabs-production-1" data-toggle="tab">АТОЛ 91Ф</a></li>
                                    <li><a href="#tabs-production-2" data-toggle="tab">АТОЛ 20Ф</a></li>
                                    <li><a href="#tabs-production-3" data-toggle="tab">АТОЛ 50Ф</a></li>
                                    <li><a href="#tabs-production-4" data-toggle="tab">АТОЛ 90Ф</a></li>
                                    <li><a href="#tabs-production-5" data-toggle="tab">АТОЛ 30Ф</a></li>
                                    <li><a href="#tabs-production-6" data-toggle="tab">АТОЛ 30Ф+</a></li>
                                    <li><a href="#tabs-production-7" data-toggle="tab">АТОЛ 11Ф</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabs-production-1">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>АТОЛ 91Ф</h4>
                                <p>Автономная касса для предприятий малого и микробизнеса в сфере торговли и услуг, которая позволяет соответствовать требованиям 54-ФЗ без дорогостоящей полной автоматизации.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Заказать</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/kassu/atol-91f-krasn.jpg' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-2">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>АТОЛ 20Ф</h4>
                                <p>
                                    Предназначена для малого и микро бизнеса с низкой и средней проходимостью.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Заказать</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/kassu/atol20f_bez-fona-_1_.png' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-3">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>АТОЛ 50Ф</h4>
                                <p>
                                    Предназначена для малого и микро бизнеса с низкой и средней проходимостью.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Заказать</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/kassu/atol20f_bez-fona-_2_.png' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-4">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>АТОЛ 90Ф</h4>
                                <p>
                                    Бюджетное решение для предприятий малого и микро бизнеса с возможностью ведения суммового учета, количественного учета с ограниченной базой товаров.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Заказать</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/kassu/atol_avtonomnaya_kassa_egais_54_fz.jpg' %}" style="height: 600px;width: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-5">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>АТОЛ 30Ф</h4>
                                <p>
                                    Самое бюджетное решение для предприятий малого и микро бизнеса с низкой пропускной способностью и малым бюджетом на автоматизацию.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Заказать</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/kassu/30f_bez-fona.png' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-6">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>АТОЛ 30Ф+</h4>
                                <p>
                                    Самое бюджетное решение для предприятий малого и микробизнеса с низкой пропускной способностью и малым бюджетом на автоматизацию.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Заказать</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/kassu/30f_bez-fona1.png' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-7">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>АТОЛ 11Ф</h4>
                                <p>
                                    Бюджетное решение для предприятий малого и микро бизнеса с низкой пропускной способностью и ограниченным кассовым местом.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Заказать</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/kassu/47_1.jpg' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}