{% extends 'product.html' %}
{% load staticfiles %}
{% block title %}
    Беспроводные терминалы
{% endblock %}
{% block current %}
    Беспроводные терминалы
{% endblock %}
{% block terminal %}
    <!-- Our production-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="tabs-custom tabs-custom-init tabs-inline" id="tabs-production">
                <!-- Section Header-->
                <div class="section__header">
                    <h4>Беспроводные терминалы</h4>
                    <div class="section__header-element">
                        <!-- Nav tabs-->
                        <div class="navigation-custom">
                            <div class="navigation-custom__content">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabs-production-1" data-toggle="tab">MOVE/2500</a></li>
                                    <li><a href="#tabs-production-2" data-toggle="tab">MOVE/3500</a></li>
                                    <li><a href="#tabs-production-3" data-toggle="tab">MOVE/5000</a></li>
                                    <li><a href="#tabs-production-4" data-toggle="tab">IWL200</a></li>
                                    <li><a href="#tabs-production-5" data-toggle="tab">IWL TOUCH</a></li>
                                    <li><a href="#tabs-production-6" data-toggle="tab">Базовые станции</a></li>
                                    <li><a href="#tabs-production-7" data-toggle="tab">"Отличный безналичный"</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabs-production-1">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>MOVE/2500</h4>
                                <p>С Ingenico безопасные и быстрые платежи становятся реальностью. Наши беспроводные продукты позволяют торговым предприятиям предлагать своим клиентам совершать платежи буквально на ходу! Идеальные для приема платежей в ресторанах, барах, на стадионах, в разъездной торговле и транспортно-логистических компаниях, наши высокоэффективные и функциональные hi-end терминалы, снабженные аккумуляторами, дают возможность торговым организациям увеличивать прибыль и улучшать качество обслуживания клиентов.

                                    Широкий выбор вариантов связи: Bluetooth, WiFi, GPRS, 3G – беспроводные решения Ingenico позволяют торговым организациям совершать мобильные сделки в любых условиях. Теперь оплата за столиком кафе, платежи в общественном транспорте и мобильных пунктах обслуживания становятся по-настоящему простыми и доступными.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Move2500.pdf' %}">Скачать буклет MOVE/2500</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/bespr.jpg' %}" style="width: 400px;height: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-2">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>MOVE/3500</h4>
                                <p>С Ingenico безопасные и быстрые платежи становятся реальностью. Наши беспроводные продукты позволяют торговым предприятиям предлагать своим клиентам совершать платежи буквально на ходу! Идеальные для приема платежей в ресторанах, барах, на стадионах, в разъездной торговле и транспортно-логистических компаниях, наши высокоэффективные и функциональные hi-end терминалы, снабженные аккумуляторами, дают возможность торговым организациям увеличивать прибыль и улучшать качество обслуживания клиентов.

                                    Широкий выбор вариантов связи: Bluetooth, WiFi, GPRS, 3G – беспроводные решения Ingenico позволяют торговым организациям совершать мобильные сделки в любых условиях. Теперь оплата за столиком кафе, платежи в общественном транспорте и мобильных пунктах обслуживания становятся по-настоящему простыми и доступными.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Move3500.pdf' %}">Скачать буклет MOVE/3500</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/bespr.jpg' %}" style="height: 400px;width: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-3">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>MOVE/5000</h4>
                                <p>С Ingenico безопасные и быстрые платежи становятся реальностью. Наши беспроводные продукты позволяют торговым предприятиям предлагать своим клиентам совершать платежи буквально на ходу! Идеальные для приема платежей в ресторанах, барах, на стадионах, в разъездной торговле и транспортно-логистических компаниях, наши высокоэффективные и функциональные hi-end терминалы, снабженные аккумуляторами, дают возможность торговым организациям увеличивать прибыль и улучшать качество обслуживания клиентов.

                                    Широкий выбор вариантов связи: Bluetooth, WiFi, GPRS, 3G – беспроводные решения Ingenico позволяют торговым организациям совершать мобильные сделки в любых условиях. Теперь оплата за столиком кафе, платежи в общественном транспорте и мобильных пунктах обслуживания становятся по-настоящему простыми и доступными.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Move5000.pdf' %}">Скачать буклет MOVE/5000</a></div>
                                </p>


                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/bespr.jpg' %}" style="width: 400px;height: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-4">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>IWL200</h4>
                                <p>С Ingenico безопасные и быстрые платежи становятся реальностью. Наши беспроводные продукты позволяют торговым предприятиям предлагать своим клиентам совершать платежи буквально на ходу! Идеальные для приема платежей в ресторанах, барах, на стадионах, в разъездной торговле и транспортно-логистических компаниях, наши высокоэффективные и функциональные hi-end терминалы, снабженные аккумуляторами, дают возможность торговым организациям увеличивать прибыль и улучшать качество обслуживания клиентов.

                                    Широкий выбор вариантов связи: Bluetooth, WiFi, GPRS, 3G – беспроводные решения Ingenico позволяют торговым организациям совершать мобильные сделки в любых условиях. Теперь оплата за столиком кафе, платежи в общественном транспорте и мобильных пунктах обслуживания становятся по-настоящему простыми и доступными.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/iWL200_2015.pdf' %}">Скачать буклет IWL200</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/bespr.jpg' %}" alt="" style="height: 400px;width: 400px" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-5">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>IWL TOUCH</h4>
                                <p>С Ingenico безопасные и быстрые платежи становятся реальностью. Наши беспроводные продукты позволяют торговым предприятиям предлагать своим клиентам совершать платежи буквально на ходу! Идеальные для приема платежей в ресторанах, барах, на стадионах, в разъездной торговле и транспортно-логистических компаниях, наши высокоэффективные и функциональные hi-end терминалы, снабженные аккумуляторами, дают возможность торговым организациям увеличивать прибыль и улучшать качество обслуживания клиентов.

                                    Широкий выбор вариантов связи: Bluetooth, WiFi, GPRS, 3G – беспроводные решения Ingenico позволяют торговым организациям совершать мобильные сделки в любых условиях. Теперь оплата за столиком кафе, платежи в общественном транспорте и мобильных пунктах обслуживания становятся по-настоящему простыми и доступными.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/iWL_Touch_2016.pdf' %}">Скачать буклет IWL TOUCH</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/bespr.jpg' %}" alt="" style="height: 400px;width: 400px" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-6">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>Базовые станции</h4>
                                <p>С Ingenico безопасные и быстрые платежи становятся реальностью. Наши беспроводные продукты позволяют торговым предприятиям предлагать своим клиентам совершать платежи буквально на ходу! Идеальные для приема платежей в ресторанах, барах, на стадионах, в разъездной торговле и транспортно-логистических компаниях, наши высокоэффективные и функциональные hi-end терминалы, снабженные аккумуляторами, дают возможность торговым организациям увеличивать прибыль и улучшать качество обслуживания клиентов.

                                    Широкий выбор вариантов связи: Bluetooth, WiFi, GPRS, 3G – беспроводные решения Ingenico позволяют торговым организациям совершать мобильные сделки в любых условиях. Теперь оплата за столиком кафе, платежи в общественном транспорте и мобильных пунктах обслуживания становятся по-настоящему простыми и доступными.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Bases_iWL200.pdf' %}">Скачать каталог базовых станций</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/bespr.jpg' %}" alt="" style="height: 400px;width: 400px" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-7">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>'Отличный безналичный'</h4>
                                <p>С Ingenico безопасные и быстрые платежи становятся реальностью. Наши беспроводные продукты позволяют торговым предприятиям предлагать своим клиентам совершать платежи буквально на ходу! Идеальные для приема платежей в ресторанах, барах, на стадионах, в разъездной торговле и транспортно-логистических компаниях, наши высокоэффективные и функциональные hi-end терминалы, снабженные аккумуляторами, дают возможность торговым организациям увеличивать прибыль и улучшать качество обслуживания клиентов.

                                    Широкий выбор вариантов связи: Bluetooth, WiFi, GPRS, 3G – беспроводные решения Ingenico позволяют торговым организациям совершать мобильные сделки в любых условиях. Теперь оплата за столиком кафе, платежи в общественном транспорте и мобильных пунктах обслуживания становятся по-настоящему простыми и доступными.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Otlichnyi_beznalichnyi1.pdf' %}">Скачать буклет "Отличный безналичный"</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/bespr.jpg' %}" alt="" style="height: 400px;width: 400px" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}