{% extends 'product.html' %}
{% load staticfiles %}
{% block title %}
Кронштейн для Ingenico IPP320 200/310
{% endblock %}
{% block current %}
Кронштейн для Ingenico IPP320 200/310
{% endblock %}
{% block terminal %}
  <!-- Our production-->
      <section class="section section-md bg-white">
        <div class="shell">
          <div class="tabs-custom tabs-custom-init tabs-inline" id="tabs-production">
            <!-- Section Header-->
            <div class="section__header">
              <h4>Кронштейн</h4>
              <div class="section__header-element">
                <!-- Nav tabs-->
                <div class="navigation-custom">
                  <button class="button navigation-custom__toggle" data-custom-toggle=".navigation-custom__content" data-custom-toggle-hide-on-blur="true">Filter</button>
                  <div class="navigation-custom__content">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#tabs-production-1" data-toggle="tab">для Ingenico IPP320 200/310</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
              <!-- Tab panes-->
              <div class="tab-content">
                  <div class="tab-pane fade in active" id="tabs-production-1">
                      <div class="layout-horizontal layout-horizontal_md-reverse">
                          <div class="layout-horizontal__main">
                              <h4>Кронштейн для Ingenico IPP320 200/310</h4>
                              <p>
                                  Тут описание кронштейна.. Или без описания?
                              </p>
                              <p>
                              <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/contacts/">Связаться для заказа</a></div>
                              </p>
                          </div>
                          <div class="layout-horizontal__aside">
                    <div class="slick-slider-vertical">
                      <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                        <div class="item">
                          <div class="slick-image"><img src="{% static 'images/products/kronshtein/TELE_IPP_320_200_310.jpg' %}" alt="" width="565" height="401"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
              </div>
            </div>
          </div>
      </section>
{% endblock %}