{% extends 'product.html' %}
{% load staticfiles %}
{% block title %}
    m-POS
{% endblock %}
{% block current %}
    m-POS
{% endblock %}
{% block terminal %}
    <!-- Our production-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="tabs-custom tabs-custom-init tabs-inline" id="tabs-production">
                <!-- Section Header-->
                <div class="section__header">
                    <h4>m-POS</h4>
                    <div class="section__header-element">
                        <!-- Nav tabs-->
                        <div class="navigation-custom">
                            <button class="button navigation-custom__toggle" data-custom-toggle=".navigation-custom__content" data-custom-toggle-hide-on-blur="true">Фильтр оборудования</button>
                            <div class="navigation-custom__content">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabs-production-1" data-toggle="tab">ISMP</a></li>
                                    <li><a href="#tabs-production-2" data-toggle="tab">ISMP COMPANION</a></li>
                                    <li><a href="#tabs-production-3" data-toggle="tab">ICMP</a></li>
                                    <li><a href="#tabs-production-4" data-toggle="tab">Мобильная касса</a></li>
                                    <li><a href="#tabs-production-5" data-toggle="tab">ISMP IPHONE 5</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabs-production-1">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>ISMP</h4>
                                <p>
                                    Миниатюрные и легкие платежные устройства Ingenico класса mPOS позволяют принимать магнитные, Chip&PIN и бесконтактные платежи на рынках мобильной торговли и услуг. Будучи объединенными с фискальным принтером и смартфоном или планшетом на базе iOS или Android, мобильные решения Ingenico образуют полнофункциональный мобильный кассовый комплекс – где бы вы ни вели ваш бизнес.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/iSMP_RUS_2015.pdf' %}">Скачать буклет ISMP</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image">
                                                <img src="{% static 'images/products/nastol_terminal/m-POS.jpg' %}" style="width: 420px;height: 420px; margin-left: -5px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-2">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>ISMP COMPANION</h4>
                                <p>
                                    Миниатюрные и легкие платежные устройства Ingenico класса mPOS позволяют принимать магнитные, Chip&PIN и бесконтактные платежи на рынках мобильной торговли и услуг. Будучи объединенными с фискальным принтером и смартфоном или планшетом на базе iOS или Android, мобильные решения Ingenico образуют полнофункциональный мобильный кассовый комплекс – где бы вы ни вели ваш бизнес.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/iSMP_Companion_RUS_2015.pdf' %}">Скачать буклет ISMP COMPANION</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image">
                                                <img src="{% static 'images/products/nastol_terminal/ISMP COMPANION.jpg' %}" style="width: 420px;height: 420px; margin-left: -5px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-3">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>ICMP</h4>
                                <p>
                                    Миниатюрные и легкие платежные устройства Ingenico класса mPOS позволяют принимать магнитные, Chip&PIN и бесконтактные платежи на рынках мобильной торговли и услуг. Будучи объединенными с фискальным принтером и смартфоном или планшетом на базе iOS или Android, мобильные решения Ingenico образуют полнофункциональный мобильный кассовый комплекс – где бы вы ни вели ваш бизнес.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/iCMP_RUS_2014.pdf' %}">Скачать буклет ICMP</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image">
                                                <img src="{% static 'images/products/nastol_terminal/ICMP.png' %}" style="width: 420px;height: 420px; margin-left: -5px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-4">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>Мобильная касса</h4>
                                <p>
                                    Миниатюрные и легкие платежные устройства Ingenico класса mPOS позволяют принимать магнитные, Chip&PIN и бесконтактные платежи на рынках мобильной торговли и услуг. Будучи объединенными с фискальным принтером и смартфоном или планшетом на базе iOS или Android, мобильные решения Ingenico образуют полнофункциональный мобильный кассовый комплекс – где бы вы ни вели ваш бизнес.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Mobil_kassa.pdf' %}">Скачать буклет Мобильная касса</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image">
                                                <img src="{% static 'images/products/nastol_terminal/mobilkassa.jpg' %}" style="width: 420px;height: 420px; margin-left: -5px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-5">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>ISMP IPHONE 5</h4>
                                <p>
                                    Миниатюрные и легкие платежные устройства Ingenico класса mPOS позволяют принимать магнитные, Chip&PIN и бесконтактные платежи на рынках мобильной торговли и услуг. Будучи объединенными с фискальным принтером и смартфоном или планшетом на базе iOS или Android, мобильные решения Ingenico образуют полнофункциональный мобильный кассовый комплекс – где бы вы ни вели ваш бизнес.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/br-ismp_for_iphone5ipod-product-RUS.pdf' %}">Скачать буклет ISMP IPHONE 5</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image">
                                                <img src="{% static 'images/products/nastol_terminal/ISMP_IPHONE_5.jpg' %}" style="width: 420px;height: 420px; margin-left: -5px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}