{% extends 'product.html' %}
{% load staticfiles %}
{% block title %}
    Настольные терминалы
{% endblock %}
{% block current %}
    Настольные терминалы
{% endblock %}
{% block terminal %}
    <!-- Our production-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="tabs-custom tabs-custom-init tabs-inline" id="tabs-production">
                <!-- Section Header-->
                <div class="section__header">
                    <h4>Настольные терминалы</h4>
                    <div class="section__header-element">
                        <!-- Nav tabs-->
                        <div class="navigation-custom">
                            <button class="button navigation-custom__toggle" data-custom-toggle=".navigation-custom__content" data-custom-toggle-hide-on-blur="true">Фильтр оборудования</button>
                            <div class="navigation-custom__content">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabs-production-1" data-toggle="tab">DESK/3000</a></li>
                                    <li><a href="#tabs-production-2" data-toggle="tab">DESK/5000</a></li>
                                    <li><a href="#tabs-production-3" data-toggle="tab">ICT200</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabs-production-1">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>DESK/3000</h4>
                                <p>Настольные терминалы Ingenico идеально соответствуют требованиям торговых организаций,
                                    желающих работать со смарт-картами и принимать платежи с их помощью. Компактные, интуитивные и удобные в работе,
                                    настольные терминалы Ingenico способны одинаково быстро и безопасно работать с различными вариантами оплаты в самых разных
                                    условиях - как в мелких магазинах, так и в гипермаркетах со множеством кассовых мест, и в крупных банках.
                                    Ориентированные на потребителя, универсальные платежные решения Ingenico просты в установке и технической поддержке.
                                    Имея в распоряжении все возможности по подключениям (USB, RS232, Ethernet и GPRS), настольные терминалы серии iCT не
                                    встречают препятствий при монтаже и запуске в работу.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Desk3000.pdf' %}">Скачать буклет DESK/3000</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/product_1.png' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-2">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>DESK/5000</h4>
                                <p>Настольные терминалы Ingenico идеально соответствуют требованиям торговых организаций,
                                    желающих работать со смарт-картами и принимать платежи с их помощью. Компактные, интуитивные и удобные в работе,
                                    настольные терминалы Ingenico способны одинаково быстро и безопасно работать с различными вариантами оплаты в самых разных
                                    условиях - как в мелких магазинах, так и в гипермаркетах со множеством кассовых мест, и в крупных банках.
                                    Ориентированные на потребителя, универсальные платежные решения Ingenico просты в установке и технической поддержке.
                                    Имея в распоряжении все возможности по подключениям (USB, RS232, Ethernet и GPRS), настольные терминалы серии iCT не
                                    встречают препятствий при монтаже и запуске в работу.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Desk5000.pdf' %}">Скачать буклет DESK/5000</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/DESK5000.jpg' %}" style="height: 400px;width: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-3">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>ICT200</h4>
                                <p>Настольные терминалы Ingenico идеально соответствуют требованиям торговых организаций,
                                    желающих работать со смарт-картами и принимать платежи с их помощью. Компактные, интуитивные и удобные в работе,
                                    настольные терминалы Ingenico способны одинаково быстро и безопасно работать с различными вариантами оплаты в самых разных
                                    условиях - как в мелких магазинах, так и в гипермаркетах со множеством кассовых мест, и в крупных банках.
                                    Ориентированные на потребителя, универсальные платежные решения Ingenico просты в установке и технической поддержке.
                                    Имея в распоряжении все возможности по подключениям (USB, RS232, Ethernet и GPRS), настольные терминалы серии iCT не
                                    встречают препятствий при монтаже и запуске в работу.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/iCT200_RUS_2014.pdf' %}">Скачать буклет ICT2000</a></div>
                                </p>


                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/ict-200.jpg' %}" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
