{% extends 'product.html' %}
{% load staticfiles %}
{% block title %}
    Ритейловые пин-пады
{% endblock %}
{% block current %}
    Ритейловые пин-пады
{% endblock %}
{% block terminal %}
    <!-- Our production-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="tabs-custom tabs-custom-init tabs-inline" id="tabs-production">
                <!-- Section Header-->
                <div class="section__header">
                    <h4>Ритейловые пин-пады</h4>
                    <div class="section__header-element">
                        <!-- Nav tabs-->
                        <div class="navigation-custom">
                            <button class="button navigation-custom__toggle" data-custom-toggle=".navigation-custom__content" data-custom-toggle-hide-on-blur="true">Filter</button>
                            <div class="navigation-custom__content">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabs-production-1" data-toggle="tab">LANE/5000</a></li>
                                    <li><a href="#tabs-production-2" data-toggle="tab">LANE/7000</a></li>
                                    <li><a href="#tabs-production-3" data-toggle="tab">IPP300</a></li>
                                    <li><a href="#tabs-production-4" data-toggle="tab">FPRINTPAY</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabs-production-1">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>LANE/5000</h4>
                                <p>
                                    Самое известное семейство платежного POS-оборудования! ПИН-пады Ingenico занимают лидирующие позиции в мире и упрощают совершение финансовых операций в торговых организациях - там, где требуется ввод ПИН-кода. Укрепление уверенности клиентов в защищенности их транзакций и новые предложения банкам и коммерческим организациям дополнительных способов оплаты! Ритейловые ПИН-пады Ingenico позволяют магазинам обслуживать пиновые транзакции быстро и легко, а встроенный бесконтактный ридер позволяет совершать покупки буквально на бегу.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Lane5000.pdf' %}">Скачать буклет LANE/5000</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/riteilovaya.jpg' %}" style="width: 400px;height: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-2">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>LANE/7000</h4>
                                <p>Самое известное семейство платежного POS-оборудования! ПИН-пады Ingenico занимают лидирующие позиции в мире и упрощают совершение финансовых операций в торговых организациях - там, где требуется ввод ПИН-кода. Укрепление уверенности клиентов в защищенности их транзакций и новые предложения банкам и коммерческим организациям дополнительных способов оплаты! Ритейловые ПИН-пады Ingenico позволяют магазинам обслуживать пиновые транзакции быстро и легко, а встроенный бесконтактный ридер позволяет совершать покупки буквально на бегу.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/Lane7000.pdf' %}">Скачать буклет LANE/7000</a></div>
                                </p>
                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/riteilovaya.jpg' %}" style="width: 400px; height: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-3">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>IPP300</h4>
                                <p>Самое известное семейство платежного POS-оборудования! ПИН-пады Ingenico занимают лидирующие позиции в мире и упрощают совершение финансовых операций в торговых организациях - там, где требуется ввод ПИН-кода. Укрепление уверенности клиентов в защищенности их транзакций и новые предложения банкам и коммерческим организациям дополнительных способов оплаты! Ритейловые ПИН-пады Ingenico позволяют магазинам обслуживать пиновые транзакции быстро и легко, а встроенный бесконтактный ридер позволяет совершать покупки буквально на бегу.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/iPP300_RUS_300.pdf' %}">Скачать буклет IPP300</a></div>
                                </p>


                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/riteilovaya.jpg' %}" style="height: 400px;width: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-production-4">
                        <div class="layout-horizontal layout-horizontal_md-reverse">
                            <div class="layout-horizontal__main">
                                <h4>FPRINTPAY</h4>
                                <p>Самое известное семейство платежного POS-оборудования! ПИН-пады Ingenico занимают лидирующие позиции в мире и упрощают совершение финансовых операций в торговых организациях - там, где требуется ввод ПИН-кода. Укрепление уверенности клиентов в защищенности их транзакций и новые предложения банкам и коммерческим организациям дополнительных способов оплаты! Ритейловые ПИН-пады Ingenico позволяют магазинам обслуживать пиновые транзакции быстро и легко, а встроенный бесконтактный ридер позволяет совершать покупки буквально на бегу.
                                </p>
                                <p>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="{% static 'pdf/FPrintPay.pdf' %}">Скачать буклет FPRINTPAY</a></div>
                                </p>

                            </div>
                            <div class="layout-horizontal__aside">
                                <div class="slick-slider-vertical">
                                    <div class="slick-slider carousel-parent" id="parent-carousel-1" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel-1" data-for="#child-carousel-1">
                                        <div class="item">
                                            <div class="slick-image"><img src="{% static 'images/products/nastol_terminal/riteilovaya.jpg' %}" style="height: 400px;width: 400px" alt="" width="565" height="401"/>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slick-slider carousel-child" id="child-carousel-1" data-for="#parent-carousel-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="3" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true" data-center-mode="true">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}